<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-controls">
        <b-button
          variant="light"
          type="submit"
          form="config-form"
          class="d-flex gap-1 button-hover"
          ><b-icon
            variant="primary"
            class="icon-margin"
            icon="save"
            scale="0.8"
          ></b-icon>
          <div>Save</div></b-button
        >

        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="exitEditor"
          ><b-icon
            variant="danger"
            class="icon-margin"
            icon="door-closed"
          ></b-icon
          >Exit editor</b-button
        >

        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="toggleShowConfig"
          ><b-icon class="icon-margin" icon="file-code"></b-icon
          >{{ editorButtonMessage }}</b-button
        >
      </div>
      <div id="editor-title">
        <h3>GitBuilding Config Editor</h3>
      </div>
    </div>
    <div id="editor">
      <div id="form-panel">
        <form id="config-form" @submit="saveChanges">
          <div id="form-errors" v-if="errors.length">
            <b>The validator raided the following errors:</b>
            <ul>
              <li
                v-for="(error, index) in errors"
                v-bind:key="'error-' + index"
              >
                {{ error }}
              </li>
            </ul>
            <b>This is likely due to a bug in this form.</b>
          </div>
          <ProjectDetails :configJson="configJson" />
          <LicenseInfo
            :configJson="configJson"
            :licenses="licenses"
            :pages="pages"
          />
          <BOMConfig :configJson="configJson" />
          <OutputCustomisation :configJson="configJson" :pages="pages" />
          <DataSettings :configJson="configJson" />
          <EditorSettings :configJson="configJson" />
          <StyleConfig :configJson="configJson" />
        </form>
      </div>
      <div v-if="showConfig" id="data-panel">
        <div id="data-title">
          buildconf.yaml
        </div>
        <div id="data-body">
          <pre>{{ configYaml }}</pre>
        </div>
      </div>
    </div>
    <div
      id="saving-background"
      v-bind:style="{ visibility: saveMessageVisible }"
    >
      <div id="saving-message">
        Please wait while project rebuilds
        <vue-simple-spinner size="medium" />
      </div>
    </div>
  </div>
</template>

<script>
const yaml = require("js-yaml");
import ProjectDetails from "./ProjectDetails.vue";
import LicenseInfo from "./LicenseInfo.vue";
import "../assets/form.css";
import StyleConfig from "./StyleConfig.vue";
import BOMConfig from "./BOMConfig.vue";
import OutputCustomisation from "./OutputCustomisation.vue";
import DataSettings from "./DataSettings.vue";
import EditorSettings from "./EditorSettings.vue";
export default {
  name: "ConfigEditor",

  components: {
    ProjectDetails,
    LicenseInfo,
    StyleConfig,
    BOMConfig,
    OutputCustomisation,
    DataSettings,
    EditorSettings
  },

  data() {
    return {
      saving: false,
      configJson: {},
      savedConfig: "",
      licenses: {},
      pages: [],
      errors: [],
      showConfig: false
    };
  },

  mounted() {
    window.addEventListener("beforeunload", this.checkSave);
  },

  asyncComputed: {
    saveMessageVisible() {
      return this.saving ? "visible" : "hidden";
    },
    editorButtonMessage() {
      if (this.showConfig) {
        return "Hide config file";
      }
      return "Show config file";
    },
    configYaml() {
      return this.asYaml(this.configJson);
    }
  },
  methods: {
    updateFromServer() {
      this.$http.get("raw").then(function(response) {
        // The list properties must exists from the start or v-for
        // doesn't update proplery. Some pattern properties,
        // need to be specified as lists.
        response.body.config = this.setDefaultValues(response.body.config);
        let updated_json = this.ensureListPropertiesExits(
          this.listifyPatternProperties(response.body.config, [
            "CustomCategories",
            "ExternalDirs"
          ]),
          [
            "Authors",
            "Exclude",
            "ForceOutput",
            "CustomCategories",
            "ExternalDirs",
            "Navigation"
          ]
        );
        //Explicitly add subnavigation to any nav items without it
        for (const navItem of updated_json.Navigation) {
          if (!("SubNavigation" in navItem)) {
            navItem.SubNavigation = [];
          }
        }
        this.configJson = updated_json;
        this.savedConfig = this.asYaml(this.configJson);
        this.pages = response.body.pages;
        this.licenses = response.body.licenses;
      });
    },
    asYaml(config) {
      let configObject = this.removeEmptyProperties(
        this.objectifyPatternProperties(config, [
          "CustomCategories",
          "ExternalDirs"
        ])
      );
      if ("Navigation" in configObject) {
        for (const navItem of configObject.Navigation) {
          if (
            Array.isArray(navItem.SubNavigation) &&
            navItem.SubNavigation.length == 0
          ) {
            delete navItem.SubNavigation;
          }
        }
      }
      return yaml.dump(configObject);
    },
    setDefaultValues(config) {
      // Set default values for any missing config values on fetch
      if (config.PrimaryColor == null) config.PrimaryColor = "#f1502f";
      if (config.SecondaryColor == null) config.SecondaryColor = "#cccccc";
      if (config.HoverColor == null) config.HoverColor = "#555555";
      return config;
    },
    toggleShowConfig() {
      this.showConfig = !this.showConfig;
    },
    ensureListPropertiesExits(inputObject, listPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of listPropertyKeys) {
        if (!(groupKey in inputObject)) {
          outputObject[groupKey] = [];
        }
      }
      return outputObject;
    },
    listifyPatternProperties(inputObject, patternPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of patternPropertyKeys) {
        if (groupKey in inputObject) {
          let groupList = [];
          for (const itemKey of Object.keys(inputObject[groupKey])) {
            let itemObject = { _id: itemKey };
            if (typeof inputObject[groupKey][itemKey] === "object") {
              for (const key of Object.keys(inputObject[groupKey][itemKey])) {
                itemObject[key] = inputObject[groupKey][itemKey][key];
              }
            } else {
              itemObject._value = inputObject[groupKey][itemKey];
            }
            groupList.push(itemObject);
          }
          outputObject[groupKey] = groupList;
        }
      }
      return outputObject;
    },
    objectifyPatternProperties(inputObject, patternPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of patternPropertyKeys) {
        if (groupKey in outputObject) {
          let groupObj = {};
          for (const itemObject of outputObject[groupKey]) {
            let _id = itemObject._id;
            delete itemObject._id;
            if ("_value" in itemObject) {
              groupObj[_id] = itemObject._value;
            } else {
              groupObj[_id] = {};
              for (const key of Object.keys(itemObject)) {
                groupObj[_id][key] = itemObject[key];
              }
            }
          }
          outputObject[groupKey] = groupObj;
        }
      }
      return outputObject;
    },
    removeEmptyProperties(inputObject) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const key of Object.keys(inputObject)) {
        if (inputObject[key] === "") {
          delete outputObject[key];
        } else if (
          Array.isArray(inputObject[key]) &&
          inputObject[key].length == 0
        ) {
          delete outputObject[key];
        } else if (
          typeof inputObject[key] === "object" &&
          Object.keys(inputObject[key]).length == 0
        ) {
          delete outputObject[key];
        }
      }
      return outputObject;
    },
    saveChanges(e) {
      e.preventDefault();
      this.saving = true;
      this.$http
        .post("save", {
          config: this.asYaml(this.configJson)
        })
        .then(response => {
          this.saving = false;
          if (response.body.saved) {
            this.savedConfig = this.asYaml(this.configJson);
            this.saving = false;
          } else {
            this.errors = response.body.warnings;
            this.saving = false;
            this.$fire({
              type: "error",
              text: "More details provided at top of page.",
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          this.saving = false;
          console.error(error);
          this.errors = ["Can't save due to unknown error"];
          this.$fire({
            type: "error",
            text: "More details provided at top of page.",
            title: "Error",
            heightAuto: false
          });
        });
    },

    checkSave(e) {
      if (this.savedConfig == this.asYaml(this.configJson)) return;
      e.returnValue = `Are you sure you want to leave?`;
    },

    exitEditor() {
      window.location.href = window.location.href.replace(
        /\/-\/conf-editor\//,
        ""
      );
    }
  },

  created() {
    this.updateFromServer();
  }
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: flex;
  float: left;
  gap: 6px;
}

#editor-title {
  display: block;
  float: right;
}

#editor {
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow: auto;
  margin-bottom: 10px;
}

#saving-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#saving-message {
  top: 40%;
  left: 35%;
  height: 20%;
  width: 30%;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 20px;
}

#form-panel {
  width: 49%;
  margin: 5px auto 25px auto;
  min-width: 480px;
}

#form-errors {
  color: red;
}

#data-panel {
  width: 49%;
  overflow: auto;
  padding: 15px;
  position: sticky;
  top: 6px;
}

#data-title {
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(250, 222, 226);
  padding: 5px;
  font-weight: bold;
}

#data-body {
  border: 1px solid rgb(51, 51, 51);
  overflow: auto;
  padding: 5px;
}

.block-button {
  display: block;
  margin: 10px 0 0 0;
}

.v-input-colorpicker {
  padding-bottom: 5px;
}
</style>
<style>
.icon-margin {
  margin-top: 1px;
}
.button-hover:hover {
  font-weight: bold;
  text-decoration: underline black;
}
</style>
