<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-controls">
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="exitApp"
          ><b-icon
            variant="danger"
            class="icon-margin"
            icon="door-closed"
          ></b-icon
          >Return to documentation</b-button
        >
      </div>
      <div id="app-title">
        <h3>Contents Page</h3>
      </div>
    </div>
    <div id="main-panel" class="d-flex flex-column">
      <div id="interaction-panel" class="d-flex flex-column">
        <h4>{{ selectedFile }}</h4>
        <p>{{ fileInformation }}</p>
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="goToFile"
          :disabled="!cangoto"
        >
          <b-icon
            variant="primary"
            class="icon-margin"
            icon="arrow-right-circle"
          >
          </b-icon>
          Go to file in documentation
        </b-button>
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="editFile"
          :disabled="!edit"
        >
          <b-icon variant="primary" class="icon-margin" icon="pencil"> </b-icon>
          Edit
        </b-button>
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="openRenameModal"
          :disabled="!rename"
        >
          <b-icon variant="primary" class="icon-margin" icon="pencil-square">
          </b-icon>
          Rename/Move
        </b-button>
      </div>
      <div id="dir-container">
        <DirectoryViewer
          :show-text-input="false"
          :api-route="outputFilesApiRoute"
          @selectionChanged="selectionChanged"
          @fileOpened="fileOpened"
        />
      </div>
    </div>
    <Modal
      modal-class="project-modal"
      v-model="showRenameModal"
      title="Rename/Move file"
    >
      <div>
        Rename file <i>'{{ filePath }}'</i> to <i>'{{ newFilePath }}'</i>
      </div>
      <div id="rename-container" class="d-flex">
        <input class="form-control" id="path-input" v-model="newFileName" />
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="renameFile"
          :disabled="filePath == newFilePath"
        >
          <b-icon variant="primary" class="icon-margin" icon="pencil-square">
          </b-icon>
          Rename/Move
        </b-button>
      </div>
      <div id="rename-dir-container">
        <DirectoryViewer
          :show-text-input="false"
          :api-route="sourceFilesApiRoute"
          :starting-path="originalDirectory"
          @selectionChanged="renameSelectionChanged"
        />
      </div>
    </Modal>
    <div
      id="saving-background"
      v-bind:style="{ visibility: saveMessageVisible }"
    >
      <div id="saving-message">
        Please wait while project rebuilds
        <vue-simple-spinner v-if="saveMessageVisible" size="medium" />
      </div>
    </div>
  </div>
</template>

<script>
import DirectoryViewer from "./DirectoryViewer.vue";
export default {
  name: "ContentsPageInterface",

  components: { DirectoryViewer },

  data() {
    return {
      outputFilesApiRoute: "list-output-files",
      sourceFilesApiRoute: "list-source-files",
      fileSelection: null,
      directory: null,
      fileInformation: "",
      rename: false,
      edit: false,
      cangoto: false,
      showRenameModal: false,
      originalFileName: "",
      originalDirectory: "",
      newFileName: "",
      newFileDir: "",
      saving: false
    };
  },

  mounted() {},

  asyncComputed: {
    selectedFile() {
      return this.fileSelection ? this.fileSelection : "No file selected";
    },
    filePath() {
      return this.originalDirectory
        ? this.originalDirectory + "/" + this.originalFileName
        : this.originalFileName;
    },
    newFilePath() {
      return this.newFileDir
        ? this.newFileDir + "/" + this.newFileName
        : this.newFileName;
    },
    saveMessageVisible() {
      return this.saving ? "visible" : "hidden";
    }
  },

  methods: {
    selectionChanged(selection) {
      this.directory = selection.currentPath;
      if (!selection.selectionName || selection.selectionType == "dir") {
        this.no_file_selected();
      } else {
        this.setFileinfo(selection);
      }
    },

    no_file_selected() {
      this.fileSelection = null;
      (this.fileInformation = ""), (this.rename = false);
      this.edit = false;
      this.cangoto = false;
    },

    setFileinfo(selection) {
      this.fileSelection = selection.selectionName;
      this.cangoto = true;
      var path = selection.currentPath
        ? selection.currentPath + "/" + selection.selectionName
        : selection.selectionName;
      this.$http
        .post("file-info", {
          path: path
        })
        .then(response => {
          this.fileInformation = response.body.description;
          this.rename = response.body.rename;
          this.edit = response.body.editable;
          this.originalDirectory = response.body.originalDir;
          this.originalFileName = response.body.originalFile;
        })
        .catch(error => {
          console.error(error);
          this.no_file_selected();
          return false;
        });
    },

    fileOpened(file) {
      window.location.href = window.location.href.replace(
        /\/-\/contents-page\//,
        this.deduplicate_slashes("/" + file.currentPath + "/" + file.fileName)
      );
    },

    goToFile() {
      window.location.href = window.location.href.replace(
        /\/-\/contents-page\//,
        this.deduplicate_slashes("/" + this.directory + "/" + this.selectedFile)
      );
    },

    openRenameModal() {
      this.showRenameModal = true;
    },

    renameFile() {
      this.saving = true;
      this.$http
        .post("rename-file", {
          oldpath: this.filePath,
          newpath: this.newFilePath
        })
        .then(response => {
          if (response.body.completed) {
            this.showRenameModal = false;
            this.saving = false;
            window.location.reload();
          } else {
            this.$fire({
              type: "error",
              text: response.body.msg,
              title: "Error",
              heightAuto: false
            });
            this.saving = false;
            return false;
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Unknown problem renaming file.",
            title: "Error",
            heightAuto: false
          });
          this.saving = false;
          return false;
        });
    },

    editFile() {
      window.location.href = window.location.href.replace(
        /\/-\/contents-page\//,
        this.deduplicate_slashes(
          "/" + this.directory + "/" + this.selectedFile + "/-/editor/"
        )
      );
    },

    renameSelectionChanged(selection) {
      this.newFileDir = selection.currentPath;
      if (!selection.selectionName) {
        this.newFileName = this.originalFileName;
      } else {
        this.newFileName = selection.selectionName;
      }
    },

    deduplicate_slashes(str) {
      return str.replace(/\/\//, "/");
    },

    exitApp() {
      window.location.href = window.location.href.replace(
        /\/-\/contents-page\//,
        ""
      );
    }
  },

  created() {}
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: flex;
  float: left;
  gap: 6px;
}

#app-title {
  display: block;
  float: right;
}

#main-panel {
  width: 49%;
  height: 100%;
  margin: 5px auto 25px auto;
  min-width: 480px;
}

#interaction-panel {
  margin: 10px 20px 0px 20px;
  padding: 5px;
  border: 1px solid gray;
  width: 90%;
  height: 25%;
  overflow: auto;
}

#dir-container {
  max-height: 70%;
  overflow: auto;
}

#rename-dir-container {
  max-height: 70%;
  margin-top: 10px;
  border: 1px solid #888;
  background: #eee;
  overflow: auto;
}

#rename-container {
  margin-top: 10px;
  border: 1px solid #888;
  padding: 5px;
  background: #eee;
}
#saving-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
#saving-message {
  top: 40%;
  left: 35%;
  height: 20%;
  width: 30%;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 20px;
}
</style>
<style>
.vm.project-modal {
  width: 80%;
  height: 80%;
  max-width: unset;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.vm.project-modal .vm-content {
  height: 90%;
}

.icon-margin {
  margin-top: 1px;
}
.button-hover:hover {
  font-weight: bold;
  text-decoration: underline black;
}
.directory-viewer {
  border-top: none !important;
}
</style>
