<template>
  <b-card class="mt-3">
    <template #header>
      <h4 class="mb-0">Data Settings</h4>
    </template>
    <div class="form-label-like-title">External directories:</div>
    <div class="form-info">
      Allow files to be linked to in specific external directories
    </div>
    <div
      class="external-dirs mt-2"
      v-for="(extdir, i) in configJson.ExternalDirs"
      v-bind:key="'extdir-' + i"
    >
      <label class="form-top-level-label" for="external-directory"
        >External Directory Path:
      </label>
      <input
        class="form-control"
        v-model="configJson.ExternalDirs[i]._value"
        type="text"
        name="external-directory"
        size="30"
        required="true"
      />
      <div class="form-info">
        The relative path to an external directory
      </div>
      <label class="form-top-level-label" for="doc-dir"
        >Documentation path:
      </label>
      <input
        class="form-control"
        v-model="configJson.ExternalDirs[i]._id"
        type="text"
        name="doc-dir"
        size="30"
        required="true"
      />
      <div class="form-info">
        The path to use in the output documentation.
      </div>
      <b-button
        variant="light"
        type="button"
        class="block-button d-flex gap-2 button-hover"
        @click="removeExtDir(i)"
      >
        <b-icon
          variant="danger"
          icon="dash-square-dotted"
          class="icon-margin"
        ></b-icon
        >Remove directory
      </b-button>
    </div>
    <b-button
      class="d-flex gap-2 mt-2 button-hover"
      variant="light"
      type="button"
      @click="addExtDir"
      ><b-icon
        variant="success"
        icon="plus-square-dotted"
        class="icon-margin"
      ></b-icon>
      Add external directory
    </b-button>

    <div class="form-label-like-title">Excluded files:</div>
    <div class="form-info">
      List any files that GitBuilding should ignore in the documentation
      directory. Groups of files can be ignored using gitignore syntax.
    </div>
    <div
      class="exclude d-flex mt-3"
      v-for="(exclusionRule, i) in configJson.Exclude"
      v-bind:key="'exclusionRule-' + i"
    >
      <input
        class="form-control"
        v-model="configJson.Exclude[i]"
        type="text"
        name="exclude"
        size="30"
        required="true"
      />
      <b-button
        variant="light"
        type="button"
        class="button-hover"
        @click="removeExclusion(i)"
      >
        <b-icon
          variant="danger"
          icon="dash-square-dotted"
          class="icon-margin"
        ></b-icon>
      </b-button>
    </div>
    <b-button
      class="d-flex gap-2 mt-2 button-hover"
      variant="light"
      type="button"
      @click="addExclusion"
    >
      <b-icon
        variant="success"
        icon="plus-square-dotted"
        class="icon-margin"
      ></b-icon
      >Add exclusion rule
    </b-button>

    <div class="form-label-like-title">Force Output:</div>
    <div class="form-info">
      List any files that should always be in the output documentation even if
      they are not linked to within the documentation. Groups of files can be
      added with Glob patterns.
    </div>
    <div
      class="force-output d-flex mt-3"
      v-for="(forcedOutput, i) in configJson.ForceOutput"
      v-bind:key="'forcedOutput-' + i"
    >
      <input
        class="form-control"
        v-model="configJson.ForceOutput[i]"
        type="text"
        name="force-output"
        size="30"
        required="true"
      />
      <b-button
        variant="light"
        type="button"
        class="button-hover"
        @click="removeForcedOutput(i)"
      >
        <b-icon
          variant="danger"
          icon="dash-square-dotted"
          class="icon-margin"
        ></b-icon>
      </b-button>
    </div>
    <b-button
      class="d-flex gap-2 mt-2 button-hover"
      variant="light"
      type="button"
      @click="addForcedOutput"
    >
      <b-icon
        variant="success"
        icon="plus-square-dotted"
        class="icon-margin"
      ></b-icon
      >Add forced output
    </b-button>
  </b-card>
</template>
<script>
export default {
  name: "DataSettings",
  data() {
    return {};
  },

  props: {
    configJson: Object
  },

  mounted() {},
  created() {},
  methods: {
    addExtDir() {
      this.configJson.ExternalDirs.push({ _id: "", _value: "" });
    },
    removeExtDir(i) {
      this.configJson.ExternalDirs.splice(i, 1);
    },
    addExclusion() {
      this.configJson.Exclude.push("");
    },
    removeExclusion(i) {
      this.configJson.Exclude.splice(i, 1);
    },
    addForcedOutput() {
      this.configJson.ForceOutput.push("");
    },
    removeForcedOutput(i) {
      this.configJson.ForceOutput.splice(i, 1);
    }
  }
};
</script>

<style scoped>
.external-dirs {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}

.button-hover:hover {
  background-color: #c0c0c0;
}
</style>
