<template>
  <b-card class="mt-3">
    <template #header>
      <h4 class="mb-0">Editor Settings</h4>
    </template>
    <label class="form-top-level-label" for="fussy">
      Enable Fussy Warnings:
    </label>
    <b-form-checkbox
      class="form-checkbox"
      v-model="configJson.Fussy"
      type="checkbox"
      name="fussy"
      checked="True"
    />
    <div class="form-info">
      When enabled GitBuilding will warn about possible problems with the
      documentation
    </div>
  </b-card>
</template>
<script>
export default {
  name: "EditorSettings",
  data() {
    return {};
  },

  props: {
    configJson: Object
  },

  mounted() {},
  created() {},
  methods: {}
};
</script>

<style>
.form-checkbox {
  margin-left: 3px;
}
</style>
