<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-controls">
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="exitApp"
          ><b-icon
            variant="danger"
            class="icon-margin"
            icon="door-closed"
          ></b-icon
          >Return to documentation</b-button
        >
      </div>
      <div id="app-title">
        <h3>Create New Page</h3>
      </div>
    </div>
    <div id="main-panel" class="d-flex flex-column">
      <div id="template-container" class="d-flex flex-column">
        <h4>Choose template</h4>
        <div id="template-panel" class="d-flex">
          <div
            v-for="(template, i) in templates"
            v-bind:key="'template-' + i"
            v-bind:style="{ background: templateBackground[i] }"
            v-on:click="selectTemplate(i)"
            class="template-item d-flex flex-column text-center justify-content-center"
          >
            <img
              class="template-img"
              :src="'/static/local-server/' + template.img"
              :alt="template.alt"
            />
            <p>{{ template.text }}</p>
          </div>
        </div>
      </div>

      <div id="dir-container">
        <div id="input-container" class="d-flex">
          <input class="form-control" id="path-input" v-model="newFileName" />
        </div>
        <DirectoryViewer
          :show-text-input="false"
          :api-route="filesApiRoute"
          @selectionChanged="selectionChanged"
        />
      </div>
      <div id="confirm-container">
        <p>
          Create file <i>"{{ newFilePath }}"</i> using the template
          <i>"{{ templateName }}"</i>?
        </p>
        <b-button
          class="d-flex gap-1 button-hover"
          variant="outline-success"
          v-on:click="createFile"
          :disabled="newFileName == ''"
        >
          <b-icon
            variant="primary"
            class="icon-margin"
            icon="file-earmark-check"
          >
          </b-icon>
          Create File
        </b-button>
      </div>
    </div>
    <div
      id="saving-background"
      v-bind:style="{ visibility: saveMessageVisible }"
    >
      <div id="saving-message">
        Please wait while project rebuilds
        <vue-simple-spinner v-if="saveMessageVisible" size="medium" />
      </div>
    </div>
  </div>
</template>

<script>
import DirectoryViewer from "./DirectoryViewer.vue";
export default {
  name: "NewPageInterface",

  components: { DirectoryViewer },

  data() {
    return {
      filesApiRoute: "list-files",
      templates: [
        {
          img: "EmptyPage.png",
          alt: "New empty page icon",
          text: "Empty Page",
          key: "empty"
        },
        {
          img: "StepByStepPage.png",
          alt: "Step-By-Step page icon",
          text: "Step-By-Step Instructions",
          key: "stepbystep"
        }
      ],
      selectedTemplate: 0,
      defaultFileName: "my-new-page",
      newFileName: "",
      newFileDir: "",
      saving: false
    };
  },

  mounted() {},

  asyncComputed: {
    newFilePath() {
      let filename = this.newFileName.endsWith(".md")
        ? this.newFileName
        : this.newFileName + ".md";
      return this.newFileDir ? this.newFileDir + "/" + filename : filename;
    },
    saveMessageVisible() {
      return this.saving ? "visible" : "hidden";
    },
    templateBackground() {
      let backgrounds = [];
      for (let i = 0; i < this.templates.length; i++) {
        if (i == this.selectedTemplate) {
          backgrounds.push("#87d887");
        } else {
          backgrounds.push("#ddd");
        }
      }
      return backgrounds;
    },

    templateName() {
      return this.templates[this.selectedTemplate].text;
    }
  },

  methods: {
    selectTemplate(selection) {
      this.selectedTemplate = selection;
    },

    selectionChanged(selection) {
      this.newFileDir = selection.currentPath;
      if (!selection.selectionName) {
        this.newFileName = this.defaultFileName;
      } else {
        this.newFileName = selection.selectionName;
      }
    },

    createFile() {
      this.saving = true;
      this.$http
        .post("create-from-template", {
          path: this.newFilePath,
          template: this.templates[this.selectedTemplate].key
        })
        .then(response => {
          if (response.body.completed) {
            this.showRenameModal = false;
            this.saving = false;
            window.location.href = window.location.href.replace(
              /\/-\/new-page\//,
              "/" + response.body.newpage + "/-/editor/"
            );
          } else {
            this.$fire({
              type: "error",
              text: response.body.msg,
              title: "Error",
              heightAuto: false
            });
            this.saving = false;
            return false;
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Unknown problem creating file.",
            title: "Error",
            heightAuto: false
          });
          this.saving = false;
          return false;
        });
    },

    exitApp() {
      window.location.href = window.location.href.replace(
        /\/-\/new-page\//,
        ""
      );
    }
  },

  created() {}
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: flex;
  float: left;
  gap: 6px;
}

#app-title {
  display: block;
  float: right;
}

#main-panel {
  width: 49%;
  height: 100%;
  margin: 5px auto 25px auto;
  min-width: 480px;
  overflow: auto;
}

#template-container {
  margin: 10px 20px 0px 20px;
  padding: 5px;
  border: 1px solid gray;
  width: 90%;
  min-height: 300px;
  overflow: auto;
}

#confirm-container {
  margin: 10px 20px 0px 20px;
  padding: 5px;
  width: 90%;
  min-height: 200px;
}

#dir-container {
  width: 90%;
  max-height: 70vh;
  min-height: 400px;
  margin: 10px 20px 0px 20px;
  border: 1px solid #888;
  background: #eee;
  overflow: auto;
}

#input-container {
  border-bottom: 1px solid #888;
  padding: 5px;
  background: #eee;
}
#saving-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
#saving-message {
  top: 40%;
  left: 35%;
  height: 20%;
  width: 30%;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 20px;
}

.template-img {
  width: 120px;
}

.template-item {
  width: 140px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
</style>
<style>
.icon-margin {
  margin-top: 1px;
}
.button-hover:hover {
  font-weight: bold;
  text-decoration: underline black;
}
.directory-viewer {
  border-top: none !important;
}
</style>
