<template>
  <Modal
    :based-on="value"
    modal-class="part-link-modal"
    @close="$emit('input', false)"
    title="Use a part/tool"
  >
    <form @submit="submitPartLink">
      <body class="modal-body">
        <select
          class="form-select"
          v-model="formType"
          name="part-name"
          required="true"
        >
          <option value="new">A new part/tool</option>
          <option value="page">A part/tool used on this page</option>
          <option value="all">A part/tool used in the documentation</option>
        </select>
        <label class="form-top-level-label" for="part-name"
          >Part/Tool name:</label
        >
        <input
          class="form-control"
          v-if="formType === 'new'"
          v-model="partNameInput"
          type="text"
          name="part-name"
          size="50"
        />
        <VueSelect
          id="part-select"
          v-if="formType !== 'new'"
          class="form-dropdown"
          :options="dropdownOptions"
          v-model="partSelected"
        ></VueSelect>
        <label class="form-top-level-label" for="part-qty">Quantity:</label>
        <input
          class="form-control"
          v-model="partQty"
          type="text"
          name="part-qty"
          size="50"
          required="true"
        />
        <label class="form-top-level-label" for="part-link"
          >Part links to:</label
        >
        <input
          class="form-control"
          v-model="partLink"
          type="text"
          name="part-link"
          size="50"
          :disabled="formType !== 'new'"
        />

        <label class="form-top-level-label" for="part-cat">Category:</label>
        <input
          class="form-control"
          v-model="partCat"
          type="text"
          name="part-cat"
          size="50"
          :disabled="formType !== 'new'"
        />
      </body>
      <footer class="row modal-footer">
        <div v-if="outputLink !== ''">
          <i>Creating link:</i>
          <pre>{{ outputLink }}</pre>
        </div>
        <div v-if="outputLink === ''">
          <i>A name and quantity must be specified.</i>
        </div>
        <div class="col-sm-12">
          <div class="float-right">
            <button class="btn btn-primary" :disabled="outputLink === ''">
              Ok
            </button>

            <button
              class="btn btn-secondary ml-2"
              type="button"
              @click="$emit('input', false)"
            >
              Cancel
            </button>
          </div>
        </div>
      </footer>
    </form>
  </Modal>
</template>
<script>
import "../assets/form.css";
import "vue-select/dist/vue-select.css";
export default {
  name: "PartLinkModal",

  components: {},

  data() {
    return {
      partSelected: null,
      formType: "new",
      parts: [],
      allPartNames: [],
      pagePartNames: [],
      dropdownOptions: [],
      partNameInput: "",
      partCat: "",
      partQty: "",
      partLink: ""
    };
  },

  props: {
    value: Boolean
  },

  mounted() {},

  watch: {
    formType: function() {
      if (this.formType === "all") {
        this.dropdownOptions = this.allPartNames;
      } else if (this.formType === "page") {
        this.dropdownOptions = this.pagePartNames;
      }
      this.partCat = "";
      this.partLink = "";
      this.partNameInput = "";
      this.partSelected = null;
    },
    selectionIndex: function() {
      if (this.selectionIndex) {
        this.partCat = this.parts[this.selectionIndex].category;
        this.partLink = this.parts[this.selectionIndex].link;
      }
    }
  },

  asyncComputed: {
    selectionIndex() {
      if (this.partSelected) {
        return this.allPartNames.indexOf(this.partSelected);
      }
      return null;
    },
    partName() {
      if (this.partSelected) {
        return this.partSelected;
      } else {
        return this.partNameInput;
      }
    },
    outputLink() {
      if (this.partName && this.partQty) {
        let catStr = "";
        let linkLocation = "";
        const linkTitle = "[" + this.partName + "]";
        const qtyStr = "qty: " + this.partQty;
        if (this.partCat) {
          catStr = ",cat: " + this.partCat;
        }
        if (this.partLink && this.formType !== "page") {
          linkLocation = "(" + this.partLink + ")";
        }
        return linkTitle + linkLocation + "{" + qtyStr + catStr + "}";
      }

      return "";
    }
  },

  methods: {
    updateFromServer() {
      this.$http.get("partlist").then(function(response) {
        this.parts = response.body.partlist;
        this.allPartNames = [];
        this.pagePartNames = [];
        for (const part of this.parts) {
          this.allPartNames.push(part.name);
          if (part.onPage) {
            this.pagePartNames.push(part.name);
          }
        }
      });
    },
    submitPartLink(e) {
      e.preventDefault();
      this.$emit("insertPartLink", this.outputLink);
      this.$emit("input", false);
    }
  },
  created() {
    this.updateFromServer();
  }
};
</script>

<style>
#part-select {
  width: 63ex;
  font-size: 13.333px !important;
  line-height: 13.333px !important;
  padding: 0;
}
.vm.part-link-modal {
  width: 60%;
  height: 60%;
  max-width: unset;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.vm.part-link-modal .vm-content {
  height: 90%;
  overflow: auto;
}
</style>
<style scoped>
.modal-footer {
  padding: 15px 0px 0px 0px;

  margin-top: 15px;
  margin-left: 2px;
}
.modal-body {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
</style>
