<template>
  <div class="project-card">
    <div class="project-card-text">
      <h3>{{ name }}</h3>
      <b>Project path:</b> {{ working_dir }}
    </div>
    <div class="project-card-buttons">
      <button
        v-if="editorClosed"
        class="start-button"
        @click="$emit('startEditor', cardNumber)"
      >
        Start Editor
      </button>
      <button v-if="editorLaunching" class="launching-dummy-button">
        Editor launching...
      </button>
      <button v-if="editorRunning" class="open-button" @click="openEditor">
        Open editor
      </button>
      <button class="remove-button" @click="$emit('removeCard', cardNumber)">
        Remove project
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "ProjectCard",

  components: {},

  data() {
    return {
      closed: 0,
      launching: 1,
      running: 2
    };
  },

  props: {
    cardNumber: Number,
    editorStatus: Number,
    editorName: String,
    name: String,
    working_dir: String
  },

  mounted() {},

  watch: {},

  asyncComputed: {
    editorClosed() {
      return this.editorStatus == this.closed;
    },
    editorLaunching() {
      return this.editorStatus == this.launching;
    },
    editorRunning() {
      return this.editorStatus == this.running;
    }
  },

  methods: {
    openEditor() {
      window.open("live/" + this.editorName, "_blank");
    }
  },

  created() {}
};
</script>

<style scoped>
.project-card {
  position: relative;
  background-color: rgb(255, 226, 226);
  border: 5px solid rgb(255, 186, 186);
  border-radius: 10px;
  margin: 0px 20px 20px 0px;
  width: 300px;
  min-width: 300px;
  height: 250px;
  word-break: break-all;
}

.project-card-text {
  display: block;
  padding: 0 10px 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.project-card-buttons {
  display: block;
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
}

.project-card-buttons button {
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  padding: 5px 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.start-button {
  float: left;
  background-color: #f60;
}

.launching-dummy-button {
  float: left;
  background-color: #00d;
}

.open-button {
  float: left;
  background-color: #0a0;
}

.remove-button {
  float: right;
  background-color: #a00;
}
</style>
