<template>
  <div class="navbar-button" @click="goToPage">
    <div v-if="icon" class="navbar-button-icon">{{ icon }}</div>
    <div class="navbar-button-text">{{ title }}</div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    title: String,
    icon: String,
    link: String
  },
  data: function() {
    return {};
  },
  methods: {
    goToPage() {
      window.location.href = `${this.link}`;
    }
  }
};
</script>
<style scoped>
.navbar-button {
  display: flex;
  gap: 5px;
}
</style>
