<template>
  <div id="settings-dropdown">
    <div
      ref="settingsDropdownButton"
      class="navbar-button"
      @click="toggleSettingsDropdownMenu"
    >
      <div class="settings-ellipsis">⠇</div>
      <div class="settings-button-text">Settings</div>
    </div>
    <div ref="settingsDropdownMenu" class="settings-dropdown-menu d-none">
      <div class="dropdown-item" @click="goToContents">
        <div class="dropdown-item-text">Contents page</div>
      </div>
      <div class="dropdown-item" @click="goToPdfExporter">
        <div class="dropdown-item-text">
          Export PDF
        </div>
      </div>
      <div class="dropdown-item" @click="goToProjectSettings">
        <div class="dropdown-item-text">
          Project settings
        </div>
      </div>
      <div class="dropdown-item" @click="closeSettingsDropdown">
        <div class="dropdown-item-text">
          Close
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    root: String
  },
  methods: {
    goToContents() {
      window.location.href = `${this.root}/-/contents-page`;
    },
    goToProjectSettings() {
      window.location.href = `${this.root}/-/conf-editor/`;
    },
    goToPdfExporter() {
      window.location.href = `${this.root}/-/pdf/`;
    },
    toggleSettingsDropdownMenu() {
      this.$refs.settingsDropdownMenu.classList.toggle("d-none");
    },

    closeSettingsDropdown() {
      this.$refs.settingsDropdownMenu.classList.toggle("d-none");
    }
  }
};
</script>
<style scoped>
#settings-dropdown {
  position: relative;
}
.settings-dropdown-menu {
  position: absolute;
  right: 1px;
  background-color: white;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #333238;
  text-align: left;
  line-height: 34px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: 4px;
}

.dropdown-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover {
  opacity: 0.5;
}

.dropdown-item-text {
  padding-left: 16px;
}
.settings-ellipsis {
  margin-top: 2px;
}
</style>
