<img class="icon" src="{{root}}static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <span class="doc-info">Documentation powered by GitBuilding</span>
</a>
{% if authors is not none %}
    <p class="author">©{{year}} {{authors}}</p>
{%endif %}
{% if email is not none %}
    <p class="email">Contact: <a href="mailto:{{email}}">{{email}}</a></p>
{%endif %}
{% if license is not none %}
    <p class="license">{{title}} is released under {{license}}.</p>
{%endif %}
