<template>
  <div id="app">
    <BuildUpEditor />
  </div>
</template>

<script>
import BuildUpEditor from "./components/BuildUpEditor.vue";

export default {
  name: "BuildUpApp",
  components: {
    BuildUpEditor
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
