<template>
  <div id="app">
    <ContentsPageInterface />
  </div>
</template>

<script>
import ContentsPageInterface from "./components/ContentsPageInterface.vue";

export default {
  name: "ContentsPage",
  components: {
    ContentsPageInterface
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
