<template>
  <div id="app">
    <NewPageInterface />
  </div>
</template>

<script>
import NewPageInterface from "./components/NewPageInterface.vue";

export default {
  name: "NewPage",
  components: {
    NewPageInterface
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
